
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/*----------Variables--------*/
:root{
    --main-color : #DC8E16;
    --dark : #0c1023;
    --dark-light: #191f3a;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,0.25);
    scroll-behavior: smooth;
}


/* Global settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}
.logo img{

    vertical-align: middle;
    max-width: 100%;
    height: 80px;
    border-radius: 35px;
    
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
h1{
    font-weight: 900;
    color: black;
}
h2{
    font-weight: 700;
    color:white;
}
h3,h4,h5,h6{
    font-weight: 600;
    color: white;
}
.container{
max-width: 1170px;

margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.min-vh-100{
    min-height: 100vh;
    padding: 100px 0;
    align-items: center;
}
.sec-padding{
    padding: 80px 0;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 700;
    transition: 0.3s ease;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    user-select: none;
    border: none;
    color: var(--main-color);
    font-size: 20px;
}
.btn-default{
    border: 2px solid;
}
.header{
    padding: 12px 0;
   background-color: #0E1343 ;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}
.header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
    z-index: -1;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}
.header.sticky::before{
    transform: translateY(-100%);

}
/*----------------HEADER----------------*/
.header .logo{
    min-height: 34px;
    display: flex;
    align-items: centre;
    padding: 0 15px;
}
.header .nav-toggler{
    height: 34px;
    width: 44px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav-toggler.active{
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
    transform: translateX(-200px);

}
.header .nav-toggler.active span{
    background-color: transparent;
    transform: background-color 0.5s ease;
}

.header .nav-toggler span{
    height: 2px;
    width: 30px;
    display: block;
    background-color: white;
    position: relative;
}
/*----Hamburger Section ----*/
.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}
.header .nav-toggler span::before{
    transform: translateY(-8px);
}
.header .nav-toggler.active span::before{
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}
.header .nav-toggler span::after{
    transform: translateY(8px);
}
.header .nav-toggler.active span::after{
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
}
.header .nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width:280px;
    overflow-y: auto;
    box-shadow: var(--shadow);
    background-color: #0E1343 ;
    padding: 80px 0 40px;
    transition: transform 0.5s ease;
    transform: translateX(100%);
}
.header .nav.open{
    transform: translateX(0%);
}
.header .nav ul li a{
    display: block;
    font-size: 25px;
    color: var(--white);
    padding: 10px 30px;
    text-transform: capitalize;
    transition: color 0.3s ease;
}
.header .nav ul li a:hover{
    color: var(--main-color);
    font-size: 30px;
    
}
/* Home Section*/
.home-section{
    position: relative;
    overflow: hidden;
}
.home-section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}
.home-section .home-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-image: url('https://images.unsplash.com/photo-1535185384036-28bbc8035f28?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTkzfHxpbmRpYW4lMjB3ZWRkaW5nJTIwcGhvdG9ncmFwaHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    animation: zoomInOut 20s ease infinite;

}
.home-section .min-vh-100{
    padding: 100px 0;
}
.home-text{
   
    padding: 0 15px;
    max-width: 700px;
    width: 100%;
   margin: auto;
   text-align: center;
}
.home-text h1{
    font-family: 'Dancing Script';
    font-size: 60px;
    color: white;
    line-height: 75px;
    margin: 0 0 5px;
}
.home-text p{
    margin: 0 0 30px;
    color: white;
    font-weight: 300;
}
.btn-default:hover{
    color: var(--white);
    background-color: var(--main-color);
}
/* animation keyframes */
@keyframes zoomInOut{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
}
@keyframes spin01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* -------------- About Section ----------------*/
.about-section{
    background-color: var(--dark-light);
    
}
/*---------Section Title----------------*/
.section-title{
   
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
  
}
.section-title h2{
    font-size: 35px;
    text-transform: capitalize;
    color: var(--white);
    
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    font-size: 24px;
    color: var(--main-color);
    font-family: 'Dancing Script';
    font-weight: 400;
    
}
.about-text,
.about-img{
    width: 50%;
    padding: 0 15px;
    color: white;
}
.about-text h3{
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 15px;
    color: white;
    font-weight: 400;
}
.about-img .img-box h3{
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-family: 'Dancing Script';
    text-transform: capitalize;
    }
.about-text p{
    margin: 0 0 15px;
    font-weight: 200;
}
.about-text .btn{
    margin: 15px 0 0;
}
.about-img img{
    width: 100%;
    border-radius: 10px;
}
.about-img .img-box{
    position: relative;

}
.about-img .img-box::before{
    content: '';
    position: absolute;
    height: 30%;
    width: 20%;
    border: 3px solid var(--dark-light);
    left:calc(50% - 50px);
    top:calc(50% - 50px);
    animation: spin01 10s linear infinite;
  
}

/*----Services Section-----*/
.service-section{
    background-color: var(--dark);
}
.service-tabs{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.service-section .section-title{
    margin-bottom: 40px;
}
.service-tab-item{
    font-size: 18px;
    font-family: inherit;
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: white;
    cursor: pointer;
    margin: 0 10px 10px;
    transition: color 0.3s ease;
}
.service-tab-item.active{
    color: var(--main-color)
}
/*--------image preview-------------*/

.gallery {
    display: flex;
    flex-wrap: wrap;

}
.gallery .image{
    padding: 7px;
    width: calc(100% / 4);
   
}

.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .image:hover img{
    transform: scale(1.1);
}

.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    max-width: 700px;
    width: 100%;
    background: #fff;
    box-shadow: 0px, 0px, 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    z-index: 5;
    opacity: 0;
    pointer-events: none;

}

.preview-box .image-box{
display: flex;
width: 100%;
}
.preview-box .details{
    display: flex;
    justify-content: space-between;
    padding: 13px 15px 13px 10px;
}
.preview-box .details .title{
    font-weight: 400px;
}
.details .icon{
    color: blue;
    font-size: 22px;
    cursor: pointer;
}
.image-box img{
    width: 100%;
    border-radius: 0, 0, 3px, 3px;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
}
.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);

}
button {
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    
   
  }
@media(max-width: 1000px){
    .gallery .image{
        width: calc(100% / 3);
    }
}
@media(max-width: 700px){
    .gallery .image{
        width: calc(100% / 2);
    }
}

/*-----------Testimonials Section----------------*/

.testimonials-section{
    background-color: var(--dark);
    padding-bottom: 50px;
}
.testi-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    border: 2px solid var(--dark-light);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}
.testi-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testi-author-img img{
  /*  width: 100px;
    height: 120px;   */
    max-width: 150px;
    border-radius: 40px;
    border: 3px solid var(--dark-light);
    box-shadow: var(--shadow);
    transition: border-color 0.5s ease;
}
.testi-item:hover .testi-author img{
    border-color: var(--main-color);


}
.testi-author h3{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 3px;
    font-weight: 600;

}
.testi-author span{
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;

}
.testi-item p{
    margin: 15px 0;
    font-weight: 400;

}
.testi-item .ratings i{
    font-size: 16px;
    color: var(--main-color);
}

/*---------------Team Section----------------*/
.team-section{
    background-color: var(--dark);
    padding-bottom: 125px;
}
.team-item{
    width: calc((100% / 3) - 90px);
    padding: 0 25px;
    position: relative;
}
.team-item img{
    width: 250px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.team-item:hover img{
    transform: skewY(3deg);
}
.team-item-info{
    background-color: var(--dark-light);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    transform: translateY(50%);
    transition: all 0.3s ease;
    pointer-events: none;
}
.team-item:hover .team-item-info{
    transform: translate(-1px);
    background-color: var(--main-color);
}
.team-item-info h3{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;

}
.team-item-info p{
    text-transform: capitalize;
    font-weight: 400;
    transition: all 0.3s ease;
}
.team-item:hover .team-item-info p{
    color: var(--white);


}
/*------Footer Section--------*/
.footer{
    padding: 80px 0 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAxu6pIAn0mTuR-b7Vfx_wb6Q7K-1kjV55vA&usqp=CAU");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;
}
.footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.footer-item{
    padding: 0 15px;
    width: calc(100% / 3);
    text-align: center;
}
.footer-item h3{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 22px;
    margin: 0 0 15px;
}
.footer-item p{
    font-weight: 400;
    line-height: 30px;
}
.footer-item .social-links a{
    color: var(--white);
    display: inline-flex;
    height: 40px;
    width: 40px;
    background-color:transparent;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    transition: color 0.3s ease;
}
.footer-item .social-links a:hover{
    color: var(--main-color);

}
.copyright{
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-top: 45px;
    font-size: 14px;
    padding: 25px 15px;
    border-top: 1px solid var(--white-light);
    margin: 80px 0 0;
}

/*----------Responsive -------------*/
@media(max-width: 991px){
    .testi-item{
        width: calc(100% - 30px);
    }
    .team-item{
        width: calc(80% - 30px);
        justify-content: center;
    }
    .team-item:not(:last-child){
        margin-bottom: 75px;
    }
}
@media(max-width:767px){
    .home-text h1{
        font-size: 50px;
        line-height: 65px;
    }
.about-text,
.about-img{
    width: 100%;
}
.about-img{
    margin-top: 40px;
}
.testi-item{
    width: 100%;
}
.footer-item{
    width: 100%;
    margin-bottom: 25px;
}
}